[submodule "panda"]
	path = panda
	url = git@github.com:commaai/panda.git
[submodule "opendbc"]
	path = opendbc
	url = git@github.com:commaai/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = git@github.com:commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = git@github.com:commaai/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = git@github.com:commaai/rednose.git
